<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="layout::head"></head>
<body>
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="q, loop : ${qList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{/question/detail/__${q.id}__}" th:text="${q.subject}"></a>
            </td>
            <td th:text="${#temporals.format(q.createDate, 'yyyy-MM-dd')}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>

</body>
</html>